/* General Body Styling */
body {
    font-family: 'richmond-display', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #F3EDE7;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Custom font */
@font-face {
    font-family: 'Larosh';
    src: url('../fonts/LAROSH\\ Sithal\\ Signature.ttf') format('truetype');
}

/*------------ NAVBAR --------------*/

.navbar {
    display: flex;
    align-items: center;
    background-color: #f3ede7;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 999;
}

/* Hamburger menu */
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 70px;
}

.hamburger svg {
    height: 30px;
    margin-bottom: 10px;
    width: auto;
}

.navmenu {
    display: none;
    flex-direction: column;
    background-color: #f3ede7;
    position: absolute;
    top: 98px;
    right: 40px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 101;
}

/* Menu items */
.navmenu a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}

.navmenu a:hover {
    opacity: 0.7;
    scale: 1.1;
}

.navbar #btn {
    display: none;
}

.navmenu #btn-in {
    display: block;
    background-color: #c5cfb8;
    padding: 10px 15px;
    border-radius: 16px;
    text-decoration: none;
    color: #333;
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#logo img {
    max-width: 110px;
}

/*----------------- HEADER ----------------------*/


header {
    position: relative;
    padding: 0;
    text-align: center;
    margin-top: 100px;

}


.head {
    background-image: url(../images/header_mobile.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.85;
    width: 100%;
    height: 70vh;
}


.header-content {
    position: absolute;
    bottom: 80px;
    left: 16px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.text {
    z-index: 2;
    text-align: left;
}


.begin {
    font-size: 32px;
    font-weight: 600;

}

.dynamic-type {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2px;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dynamic-type #typewriter {
    font-style: italic;
}



.header-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}


.header-links a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #c5cfb8;
    color: #333;
    text-decoration: none;
    border-radius: 32px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.4;
}


.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 1.5em auto;
    max-width: 90%;
    text-align: center;
    padding-bottom: 10px;
}


.highlight {
    position: relative;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


.highlight::before {
    content: "";
    position: absolute;
    left: -6px;
    right: 0;

    height: 0.7em;

    top: 0.55em;
    background-color: rgba(210, 120, 75, 0.4);

    transform: skew(-8deg);
    transform-origin: left center;
    z-index: -1;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/*-----------INDEX - WORK -----------------*/


.selected-work {
    background-color: #f9f9f9;
    padding: 6px 16px 32px 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected-work h2 {
    font-size: 24px;
    margin-bottom: 12px;
}


.carousel {
    position: relative;
    overflow: hidden;

}


.carousel .work-items {
    display: flex;
    gap: 24px;
    transform: translateX(0);
    transition: transform 0.5s ease;
    padding-bottom: 2rem;
}


.carousel .work-item {

    flex: 0 0 clamp(250px, 90%, 450px);
    max-width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 400px;
    text-align: center;
    box-sizing: border-box;
}



.carousel .work-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

.carousel .work-item h3 {
    font-size: 20px;
    margin: 0 auto 10px;
}

.carousel .work-item p {
    font-size: 16px;
    text-align: left;
    margin: 10px 20px 40px;
    flex-shrink: 0;
}

.carousel .work-item a {
    margin-top: auto;
    padding: 15px 25px;
    background-color: #c5cfb8;
    color: #333;
    text-decoration: none;
    border-radius: 32px;
    font-size: 16px;
    transition: background-color .3s, transform .2s;
}

.carousel .work-item a:hover {
    transform: transla teY(-2px);
    opacity: .9;
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 2px solid #DA916C;
    background-color: #DA916C;
    color: #211008;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-button svg {
    width: 26px;
    height: 26px;
    display: block;
}



.prev {
    left: 0.3rem;
}

.next {
    right: 0.3rem;
}

/* verberg wanneer je niet meer kunt klikken */
.prev[style*="display: none"],
.next[style*="display: none"] {
    visibility: hidden;
}


/*--------------- INDEX - ABOUT ME ---------------*/


.rounded-section {
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.rounded-section p {
    max-width: 90%;
}

h2 {
    padding-top: 32px;
    padding-bottom: 12px;
    font-size: 24px;
}


#dynamic-word {
    font-size: 18px;
    font-weight: light;
    font-family: 'Larosh';
    display: inline-block;
    color: #d2784b;
    padding-bottom: 20px;

}


.flex {
    display: flex;
    flex-direction: column;

}

.dynamic img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 16px;
}


/*------------------ CONTACT ME ------------------- */


.last {
    background-color: #F9F9F9;
    height: 1250px;
}

.story {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: left;
}

.story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/safari.JPG);
    background-size: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    opacity: 0.25;
    z-index: 1;
}

.story h2,
.story p,
.story span {
    position: relative;
    z-index: 2;
    padding: 0px 32px;
}

.story h2 {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 8%;
    font-size: 24px;
}

.story p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.ital {
    font-style: italic;
}

.contact {
    position: relative;
    z-index: 3;
    background-color: #F9F9F9;
    margin: 20px 16px;
    max-width: 100%;
    align-items: center;
    margin-bottom: 20px;

}


h2 {
    margin-left: 0px;
    font-size: 24px;
    text-align: center;
}

.globe-container {


    width: 100%;
    height: 400px;
}

#globe {
    position: relative;
    z-index: -2;
}

.text-globe {
    font-style: italic;
    max-width: 90%;
    font-size: 14px;
}


/*================================================================================ PROJECTS ============================================================================*/

.design {
    margin: 10% 5%;
    text-align: center;
}

.design h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 50px 0px;
}

.design h1 {
    padding-top: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-container-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 320px;
    overflow: hidden;
    transition: height 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.project img {
    max-height: 270px;
    max-width: 270px;
    object-fit: contain;
    margin-bottom: 10px;
}

.project h2 {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.project-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.project-skills {
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
}

.project:hover {
    height: 500px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-description,
.project-skills {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.project:hover .project-description,
.project:hover .project-skills {
    opacity: 1;
    max-height: 100px;
}

.pet {
    height: 500px;
    background-color: #fff;
    background-image: url(../images/mountains.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
}

.pet h2 {
    padding-top: 40px;
}

.pet p {
    margin: 0 32px;
}

a,
h2,
p {
    text-decoration: none;
}

/*================================================================================ PHOTOGRAPHY ============================================================================*/


#logo img {
    width: 120px;
    height: auto;
}

.photo img {
    max-width: 100%;
    height: auto;
    opacity: 90%;
    border-radius: 32px;
}

.photo {
    background-image: url(../images/whitepocket.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 85%;
    width: 100vw;
    height: 700px;
}


/*------------------ LANDSCAPE ------------------- */
.slider {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
}

.slider h2 {
    text-align: center;
    margin: 5% 0;
    font-size: 24px;
}


.slider-row {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 45px 0;
}

.slider-row .slider-track {
    display: flex;
    will-change: transform;
    justify-content: flex-start;
    /*vanaf links */
}


.slider-row:not(.small) .slider-track img {
    flex: none;
    width: calc(50% - 10px);
    margin: 0 7px;
    border-radius: 8px;
    height: auto;
}


.slider-row.small .slider-track img {
    flex: none;
    width: calc(33.33% - 10px);
    margin: 0 5px;
    border-radius: 8px;
    height: auto;
    transform: scaleX(-1);
}

/*------------------ PORTRAITS ------------------- */
.collage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.photography h2 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 24px;
}

.collage-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.collage-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
}

.collage-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    padding: 48px;
    box-sizing: border-box;
    background-color: #F3EDE7;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.photo-item {
    position: relative;
    background-color: #D3D3D3;
    padding-bottom: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.photo-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.photo-item:hover {
    opacity: 0.6;
}

.photo-item .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.photo-item:hover .overlay-text {
    opacity: 1;
}

/*photos goed zetten*/
.portret5 {
    object-fit: cover;
    object-position: 30% 50%;
}

.photo-item,
.pixels-photo {
    position: relative;
    padding-bottom: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #D3D3D3;
}


.pixels-photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto 20px;

    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.pixels-photo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
}

.pixels-photo.reverse iframe {
    transform: scaleX(-1);
    transform-origin: center;
}

.pixels-photo.shift-down {
    position: relative;
    overflow: hidden;
}


.pixels-photo.shift-down iframe {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 150%;
    border: none;
    border-radius: inherit;
}

.pixels-photo.shift-right {
    position: relative;
    overflow: hidden;
}


.pixels-photo.shift-right iframe {
    position: absolute;
    top: 0;
    left: 0%;
    width: 145%;
    height: 100%;
    border: none;
    border-radius: inherit;
}




/* ------------------------------------------------ */

footer {
    background-color: #c5cfb8;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    padding: 20px 10%;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tiny-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}

.tiny-nav a {
    text-decoration: none;
    color: #333;
}

.tiny-nav a:hover {
    scale: 1.2;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.social-icons svg {
    width: 30px;
    height: 30px;
}

.social-icons svg:hover {
    width: 35px;
    height: 35px;
}

footer p {
    margin: 5px 0;
}




















/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

@media (min-width: 770px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3EDE7;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 10px 25px;
    }

    #logo img {
        max-width: 100px;
        height: auto;
        margin-top: 15px;
    }

    .navmenu #btn-in {
        display: none !important;
    }

    .navmenu {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-left: 150px;
        gap: 40px;
        top: 0;
    }

    .navmenu a {
        color: #333;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .navmenu a:hover {
        color: #666;
    }

    .hamburger {
        display: none;
    }

    .navbar #btn {
        display: flex;
        background-color: #c5cfb8;
        padding: 10px 20px;
        border-radius: 16px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin-right: 70px;
        transition: background-color 0.3s ease;
    }

    .navbar #btn:hover {
        background-color: #a4b69d;
    }

    /*----------------------------------------------------------------------*/

    header {
        margin-top: -20px;


    }

    .head {
        height: 90vh;
        background-size: cover;
    }

    .begin {
        font-size: 42px;
    }

    .header-content {
        bottom: auto;
        top: 55%;
        left: 32px;
        right: 32px;
        display: flex;
        flex-direction: column;
        gap: 80px;


    }

    .dynamic-type {
        font-size: 22px;

    }

    .header-links {
        gap: 42px;
        margin-top: 0px;
    }

    .header-links a {
        padding: 18px 36px;
        font-size: 20px;
        border-radius: 36px;
    }

    .quote-container {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
    }

    .highlight {
        text-align: center;
        font-size: 24px;
        max-width: 100%;
        margin-top: -42px;
    }

    .highlight::before {
        height: 16px;
        top: 16px;
    }

    /*----------------------------------------------------------------------*/


    .selected-work h2 {
        font-size: 28px;
        margin: 3% 0;
    }

    .carousel .work-items {
        gap: 48px;
        padding-bottom: 4.5rem;
    }

    .carousel-button {
        width: 3rem;
        height: 3rem;
    }

    .carousel .work-item img {
        margin-bottom: 28px;

    }

    .carousel .work-item h3 {
        margin: 0 auto 24px;
        font-size: 22px;

    }

    .carousel .work-item p {
        margin: 0 24px 32px;

    }

    .carousel .work-item a {

        font-size: 18px;

    }

    .carousel-button svg {
        width: 32px;
        height: 32px;

    }

    .prev {
        left: 0.5rem;
    }

    .next {
        right: 0.5rem;
    }



    /*----------------------------------------------------------------------*/

    .rounded-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 42px 32px;
    }

    .flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 40%;
        gap: 2%;
    }

    h2 {
        margin: 0 0 16px;
        padding-bottom: 16px;
        font-size: 28px;
        align-self: left;
    }

    .about {
        max-width: 60%;
        font-size: 16px;
        transform: translateY(-16px);

    }

    .last {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        height: auto;
    }

    .rounded-section .about h2 {
        text-align: left;
        margin-left: 0;
    }



    /*----------------------------------------------------------------------*/

    .last {
        display: flex;
        align-items: stretch;

    }

    .last .story,
    .last .contact {
        flex: 1;
        height: auto;
        max-width: 50%;
    }

    .contact {

        margin: 20 32px;

    }

    .story h2 {
        font-size: 28px;
    }



    /*----------------------------------------------------------------------*/

    .slider h2,
    .photography h2 {
        font-size: 28px;
    }

    .photo {
        height: 750px;

    }

    .slider-row {
    margin: 6% 0;
}

    .slider {
        margin-bottom: 25px;
    }

    .slider-row:not(.small) .slider-track img {
        margin: 0 10px;
    }


    .slider-row.small .slider-track img {
        margin: 0 7px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


}



/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

@media (min-width: 1100px) {

    p {
        font-size: 18px;
    }

    .navbar {
        width: 99%;
        padding: 12px;
        z-index: 9999;
    }

    .navbar a {
        padding: 0 18px;
        color: #333;
        text-decoration: none;
        font-size: 16px;
    }

    #logo img {
        max-width: 110px;
        margin-top: 6px;
        /* NOG FIXEN DAT LOGO MEER NAAR RECHTS GAAT, EVENALS IMAGE */
    }

    .navbar #btn {
        background-color: #cdd5c3;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 16px;
        margin-right: 24px;
        margin-top: 6px;
    }

    /*------------------------------------*/



    header {
        position: relative;
        height: 95vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "quote quote"
            "content image";
    }

    .head {
        grid-area: image;
        width: 100%;
        height: 100%;
        background-image: url(../images/IMG_2732\ copy.webp);
        background-size: cover;
        background-position: right top;
    }

    .begin {
        font-size: 64px;
        order: 0;
    }

    .header-content {
        position: absolute;
        top: 45%;
        left: 48px;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    .header-links {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 10%;
        z-index: 5;
        margin-top: 200px;
    }

    .header-links #btn {
        display: inline-block;
        padding: 20px 50px;
        font-size: 20px;
        border-radius: 40px;
        transition: background-color 0.3s ease;

    }

    .header-links #btn:hover {

        transform: scale(1.05);
    }

    .text {
        text-align: left;

    }

    .quote-container {
        position: absolute;
        top: 14rem;
        left: 4rem;
        z-index: 5;
    }

    .quote {
        font-size: 26px;

    }

    .highlight::before {
        top: 0.55em;
        height: 0.7em;
    }

    .begin {
        font-size: 64px;
        margin: 0;
    }

    .dynamic-type {
        font-size: 1.5rem;
        margin-top: 22px;
    }

    /*------------------------------------*/

    .selected-work h2 {
        font-size: 32px;
        margin: 2% 0;
    }

    .carousel-button {
        display: none !important;
    }

    .carousel {
        overflow: visible;
        margin: 0 32px;
    }

    .carousel .work-items {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        transform: none !important;
        padding-bottom: 36px;
    }

    .text-globe {

        font-style: italic;
        max-width: 80%;
        font-size: 16px;
    }


    /*------------------------------------*/

    .rounded-section {
        padding: 42px 48px;
    }

    h2 {
        margin: 0 0 24px;
        padding-bottom: 24px;
        font-size: 32px;
    }


    #dynamic-word {
        font-size: 24px;
        padding-top: 24px;
        padding-bottom: 20px;

    }

    /*------------------------------------*/

    .story h2 {

        font-size: 32px;
    }

    .story p {
        font-size: 18px;
        line-height: 1.8;
    }

    /*============================================================*/

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        padding-bottom: 200px;
    }




    .pet {
        height: 800px;
    }

    .pet h2 {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .footer {
        margin-top: 290px;
    }

    .footer-container a {
        font-size: 24px;
    }
}


/* ─── Global Override: alle tekst donkerbruin (#191210) ─── 
body {
  color: #251b18;
}


h1, h2, h3, h4, h5, h6,
p, span, label, a,
li, blockquote, figcaption {
  color: #251b18 !important;
}


body * {
  color: #251b18 !important;
}*/