/* General Body Styling */
body {
    font-family: 'richmond-display', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #F3EDE7;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Custom font */
@font-face {
    font-family: 'Larosh';
    src: url('../fonts/LAROSH\\ Sithal\\ Signature.ttf') format('truetype');
}

/*------------ NAVBAR --------------*/

.navbar {
    display: flex;
    align-items: center;
    background-color: #f3ede7;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 999;
}

/* Hamburger menu */
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 70px;
}

.hamburger svg {
    height: 30px;
    margin-bottom: 10px;
    width: auto;
}

.navmenu {
    display: none;
    flex-direction: column;
    background-color: #f3ede7;
    position: absolute;
    top: 98px;
    right: 40px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 101;
}

/* Menu items */
.navmenu a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}

.navmenu a:hover {
    opacity: 0.7;
    scale: 1.1;
}

.navbar #btn {
    display: none;
}

.navmenu #btn-in {
    display: block;
    background-color: #c5cfb8;
    padding: 10px 15px;
    border-radius: 16px;
    text-decoration: none;
    color: #333;
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#logo img {
    max-width: 110px;
}

/*----------------- HEADER ----------------------*/


header {
    position: relative;
    padding: 0;
    text-align: center;
    margin-top: 100px;
    
}


.head {
    background-image: url(../images/header_mobile.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0.85;
    width: 100%;
    height: 70vh;
}


.header-content {
    position: absolute;
    bottom: 80px;
    left: 16px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.text {
    z-index: 2;
    text-align: left;    
}


.begin {
    font-size: 32px;
    font-weight: 600;
    
}

.dynamic-type {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 2px;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.dynamic-type #typewriter {
  font-style: italic;
}



.header-links {
  display: flex;
  justify-content: center;  
  gap: 20px;                 
  margin-top: 30px;
  margin-bottom: 20px;
}


.header-links a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #c5cfb8;
    color: #333;
    text-decoration: none;
    border-radius: 32px;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 1.2rem;     
  line-height: 1.4;
}


.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;      
  margin: 1.5em auto;
  max-width: 90%;
  text-align: center;
  padding-bottom: 10px;
}


.highlight {
  position: relative;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}


.highlight::before {
  content: "";
  position: absolute;
  left: -6px;
  right: 0;
 
  height: 0.7em;
  
  top: 0.55em;
  background-color: rgba(210,120,75,0.4);

  transform: skew(-8deg);
  transform-origin: left center;
  z-index: -1;
 
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/*-----------INDEX - WORK -----------------*/



.selected-work {
  background-color: #f9f9f9;
  padding: 42px 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.selected-work h2 {
  font-size: 24px;
  margin: 1% 0;
}


.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  gap: 50px;
  margin: 5% auto;          
  max-width: 1200px;        
  padding: 0 20px;          
  box-sizing: border-box;
}


.work-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;        
  box-sizing: border-box;
  min-height: 400px;
  text-align: center;
}


.work-item img {
  display: block;
  width: 100%;              
  height: 250px;            
  object-fit: cover;        
  margin-bottom: 15px;

}


.work-item h3 {
  font-size: 20px;
  margin: 0 auto 10px;
  padding-top: 10px;
}


.work-item p {
  font-size: 16px;
  text-align: left;
  margin: 10px 20px 40px;
  flex-shrink: 0;
}


.work-item a {
  display: inline-block;
  margin-top: auto;       
  margin-left: auto;
  margin-right: auto;      
  padding: 15px 25px;
  background-color: #c5cfb8;
  color: #333;
  text-decoration: none;
  border-radius: 32px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.work-item a:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


.work-item:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.mustang {
  object-position: 30% 0;
}


/*--------------- INDEX - ABOUT ME ---------------*/


.rounded-section {
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.rounded-section p {
    max-width: 90%;
}

h2 {
    padding-top: 32px;
    padding-bottom: 12px;
    font-size: 24px;
}


#dynamic-word {
    font-size: 18px;
    font-weight: light;
    font-family: 'Larosh';
    display: inline-block;
    color: #d2784b;
    padding-bottom: 20px;
    
}


.flex {
    display: flex;
    flex-direction: column;
    
}

.dynamic img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 16px;
}


/*------------------ CONTACT ME ------------------- */


.last {
    background-color: #F9F9F9;
    height: 1200px;
}

.story {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: left;
}

.story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/safari.JPG);
    background-size: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    opacity: 0.25;
    z-index: 1;
}

.story h2,
.story p,
.story span {
    position: relative;
    z-index: 2;
    padding: 0px 32px;
}

.story h2 {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 8%;
    font-size: 1.5rem;
}

.story p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.ital {
    font-style: italic;
}

.contact {
    position: relative;
    z-index: 3;
    background-color: #F9F9F9;
    margin-left: 20px;
    max-width: 100%;
   
    margin-bottom: 20px;
}


h2{
    margin-left: 0px;
    font-size: 24px;
text-align: center;
}

.globe-container {
  
 
    width: 100%;
  height: 400px;       
}

#globe {
  position: relative;
   /* vervang 60px door de hoogte van je navbar */
  z-index: -2;     
}

.text-globe{
    font-style: italic;
    max-width: 90%;
    font-size: 14px;
    
}


/*================================================================================ PROJECTS ============================================================================*/

.design {
    margin: 10% 5%;
    text-align: center;
}

.design h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 50px 0px;
}

.design h1 {
    padding-top: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-container-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 320px;
    overflow: hidden;
    transition: height 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
}

.project img {
    max-height: 270px;
    max-width: 270px;
    object-fit: contain;
    margin-bottom: 10px;
}

.project h2 {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.project-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.project-skills {
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
}

.project:hover {
    height: 500px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project-description,
.project-skills {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.project:hover .project-description,
.project:hover .project-skills {
    opacity: 1;
    max-height: 100px;
}

.pet {
    height: 500px;
    background-color: #fff;
    background-image: url(../images/mountains.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
}

.pet h2 {
    padding-top: 40px;
}

.pet p {
    margin: 0 32px;
}

a,
h2,
p {
    text-decoration: none;
}

/*----------------------------------------------------------------*/

#logo img {
    width: 120px;
    height: auto;
}

.photo img {
    max-width: 100%;
    height: auto;
    opacity: 90%;
    border-radius: 32px;
}

.photo {
    background-image: url(../images/whitepocket.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 85%;
    width: 100vw;
    height: 950px;
}

.slider {
    width: 100%;
    margin: 10 auto;
    overflow: hidden;
}

.slider img {
    border-radius: 8px;
}

.slider h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.slider-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.slider-row .slider-track {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider-row img {
    width: 19%;
    margin: 2% 5px;
}

.slider-row.small img {
    width: calc(93% / 6);
    margin: 0 5px;
}

.collage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.photography h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.collage-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.collage-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
}

.collage-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    padding: 48px;
    box-sizing: border-box;
    background-color: #F3EDE7;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.photo-item {
    position: relative;
    background-color: #D3D3D3;
    padding-bottom: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.photo-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.photo-item:hover {
    opacity: 0.6;
}

.photo-item .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.photo-item:hover .overlay-text {
    opacity: 1;
}

/*photos goed zetten*/
.portret5 {
    object-fit: cover;
    object-position: 30% 50%;
}

.photo-item,
.pixels-photo {
  position: relative;
  padding-bottom: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #D3D3D3;
}

.pixels-photo img,
.pixels-photo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ------------------------------------------------ */

footer {
    background-color: #c5cfb8;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    padding: 20px 10%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tiny-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}

.tiny-nav a {
    text-decoration: none;
    color: #333;
}

.tiny-nav a:hover {
    scale: 1.2;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.social-icons svg {
    width: 30px;
    height: 30px;
}

.social-icons svg:hover {
    width: 35px;
    height: 35px;
}

footer p {
    margin: 5px 0;
}























/*----------------------------------------------------------------------*/
/* Min-width: 700px */
@media (min-width: 700px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3EDE7;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
    }

    #logo img {
        max-width: 120px;
        height: auto;
        margin-top: 15px;
    }

    .navmenu #btn-in {
        display: none !important;
    }

    .navmenu {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-left: 150px;
        gap: 40px;
        top: 0;
    }

    .navmenu a {
        color: #333;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .navmenu a:hover {
        color: #666;
    }

    .hamburger {
        display: none;
    }

    .navbar #btn {
        display: flex;
        background-color: #c5cfb8;
        padding: 10px 20px;
        border-radius: 16px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin-right: 70px;
        transition: background-color 0.3s ease;
    }

    .navbar #btn:hover {
        background-color: #a4b69d;
    }

    header {
        margin-top: 0px;
    }

    .head {
        height: 100vh;
        background-size: cover;
    }

    .begin {
        font-size: 48px;
    }

    .header-content {
        position: absolute;
        bottom: 10%;
        gap: 30px;
        z-index: 2;
    }

    .quote-container {
    flex-direction: row;
    justify-content: center;
    }

    .highlight {
        margin-top: 50px;
        text-align: center;
        font-size: 28px;
        max-width: 100%;
    }

    .highlight::before {
        height: 15px;
        top: 20px;
    }

    .work-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .work-item {
        flex: 1 1 350px;
        margin-bottom: 40px;
        max-width: 350px;
    }

    .work-item img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
        height: 300px;
        object-fit: cover;
    }

    .rounded-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 200px 48px;
        align-items: center;
    }

    .flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 60%;
        gap: 20px;
    }

    .dynamic {
        width: 80%;
    }

    .about {
        max-width: 50%;
        font-size: larger;
    }

    .last {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        height: auto;
    }

    .story,
    .contact {
        flex: 1;
        max-width: 55%;
        padding-bottom: 50px;
        height: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }



    .side-nav {
        position: fixed;
        right: 20px;
        top: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1000;
    }

    .side-nav a {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
    }

    .section-name:hover {
        color: #c5cfb8;
        transform: scale(1.1);
    }

    .section-name {
        margin-right: 10px;
        font-size: 14px;
        color: #333;
    }

    .dot {
        width: 12.5px;
        height: 12.5px;
        background-color: #333;
        border-radius: 50%;
        display: inline-block;
    }

    .line {
        width: 2px;
        height: 100px;
        background-color: #333;
        margin-right: 5px;
    }

    .project-container-inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pet {
        height: 600px;
    }
}




/* Min-width 900px */
@media (min-width: 1100px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "quote content";
        align-items: center;
    }

    .footer {
        margin-top: 290px;
    }

    .footer-container a {
        font-size: 24px;
    }

    .navbar {
        width: 99%;
        padding: 12px;
    }

    .navbar a {
        padding: 0 18px;
        color: #333;
        text-decoration: none;
        font-size: 16px;
    }

    #logo img {
        max-width: 110px;
        margin-top: 6px;
        /* NOG FIXEN DAT LOGO MEER NAAR RECHTS GAAT, EVENALS IMAGE */
    }

    .navbar #btn {
        background-color: #cdd5c3;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 16px;
        margin-right: 24px;
        margin-top: 6px;
    }

    .head {
        background-image: url(../images/IMG_2732\ copy.webp);
        height: 100vh;
        background-size: cover;
        background-position: right top;
        top: 0;
        right: 0;
        z-index: 1;
        opacity: 0.85;
    }

    .header-links #btn {
        display: inline-block;
        margin: 0px 2.5%;
        padding: 20px 50px;
        font-size: 20px;
        border-radius: 40px;
        transition: background-color 0.3s ease;
    }

    .header-links #btn:hover {
        opacity: 0.80;
        transform: scale(1.05);
    }

    .text {
        text-align: left;
    }

    .quote {
        transform: translateY(-150%);
        font-size: 32px;
        min-width: 100%;
        grid-area: quote;
        
    }

    .quote::after {
        height: 18px;
        top: 20px;
        left: 60px;
        right: 60px;
        background-color: #d2784b;
    }

    .begin {
        font-size: 64px;
        order: 0;
    }

    .dynamic img {
        max-width: 400px;
    }

    .rounded-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 800px;
        padding: 48px 24px;
    }

    .about {
        width: 60%;
    }

    .story,
    .contact {
        padding-left: 32px;
        padding-right: 32px;
        height: 600px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
    }

    .work-items {
        gap: 5%;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
        padding-bottom: 200px;
    }




    .pet {
        height: 800px;
    }

    .pet h2 {
        padding-top: 100px;
        padding-bottom: 20px;
    }
}


/* ─── Global Override: alle tekst donkerbruin (#191210) ─── 
body {
  color: #251b18;
}


h1, h2, h3, h4, h5, h6,
p, span, label, a,
li, blockquote, figcaption {
  color: #251b18 !important;
}


body * {
  color: #251b18 !important;
}*/


